.F_CreateForm .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-right: -20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 10px);
}

.F_CreateForm .flex-row .flex-100 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.F_CreateForm .flex-row .flex-80 {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  max-width: calc(80% - 20px);
  min-width: calc(80% - 20px);
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.F_CreateForm .flex-row .flex-70 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  max-width: calc(70% - 20px);
  min-width: calc(70% - 20px);
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.F_CreateForm .flex-row .flex-60 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  max-width: calc(60%);
  min-width: calc(60%);
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.F_CreateForm .flex-row .flex-50 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: calc(50% - 20px);
  min-width: calc(50% - 20px);
}

.F_CreateForm .flex-row .flex-40 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: calc(40% - 20px);
  min-width: calc(40% - 20px);
}

.F_CreateForm .flex-row .flex-30 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  max-width: calc(30% - 20px);
  min-width: calc(30% - 20px);
}

.F_CreateForm .flex-row .flex-20 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  max-width: calc(20% - 20px);
  min-width: calc(20% - 20px);
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.F_CreateForm .flex-row .flex-10 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  max-width: calc(10% - 20px);
  min-width: calc(10% - 20px);
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.F_CreateForm .flex-row .flex-25 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: calc(25% - 20px);
  min-width: calc(25% - 20px);
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.F_CreateForm .flex-row .flex-auto {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.F_CreateForm h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.F_CreateForm .field-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.F_CreateForm .field-input.show-home {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.F_CreateForm .field-input.show-home input {
  width: 20px;
  height: 20px;
}

.F_CreateForm .field-input.show-home p {
  font-size: 12px;
  margin: 0;
}

.F_CreateForm .field-input p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
  color: black;
  text-transform: initial;
}

.F_CreateForm .field-input input {
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.555);
}

.F_CreateForm .field-input input:focus + .drop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.F_CreateForm .field-input .drop-menu:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.F_CreateForm .field-input .btn-add {
  position: absolute;
  top: calc(50% - 8px);
  right: 0px;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  display: none;
}

.F_CreateForm .field-input .btn-add:hover i {
  opacity: 1;
}

.F_CreateForm .field-input .btn-add i {
  opacity: 0.3;
}

.F_CreateForm .field-input .drop-menu {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 110%;
  z-index: 10000;
  min-height: 100px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid #ddd;
  display: none;
}

.F_CreateForm .field-input .drop-menu p {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 16px;
  margin: 0;
  line-height: 16px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
}

.F_CreateForm .field-input .drop-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.F_CreateForm .field-input .drop-menu ul li {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.F_CreateForm .field-input .drop-menu ul li:hover {
  background-color: #ccccccb3;
}

.F_CreateForm .form-container .image-container {
  width: 100%;
  height: 120px;
  border: 1px dashed #aaa;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.F_CreateForm .form-container .image-container .image-empty {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ddd;
  gap: 8px;
}

.F_CreateForm .form-container .image-container i {
  font-size: 30px;
  color: #ccc;
}

.F_CreateForm .form-container .image-container .image-load {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;
}

.F_CreateForm .form-container .image-container .image-load img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.F_CreateForm .form-container .btn-final {
  width: calc(100% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.F_CreateForm .form-container .btn-final button {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 16px 0px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.F_CreateForm .form-container .btn-final button:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 16px 0px;
  background-color: black;
  border: 1px solid black;
  font-weight: 500;
}

.F_CreateForm .form-container .btn-final button:nth-child(1) {
  background-color: white;
  color: #cd0b0b !important;
  border: 1px solid #cd0b0b;
}
/*# sourceMappingURL=F_CreateForm.css.map */