.Brand_M {
  height: 100%;
}

.Brand_M .BM-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60px;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #36373b;
}

.Brand_M .BM-header .title {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

.Brand_M .BM-header .btn-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.Brand_M .BM-header .btn-action button {
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #36373b;
  color: white;
  border: 1px solid #36373b;
}

.Brand_M .BM-header .btn-action button:hover {
  border: 1px solid white;
}

.Brand_M .BM-header .btn-action button:active {
  background-color: white;
  color: black;
}

.Brand_M .BM-header .btn-action .btn-delete {
  background-color: transparent;
  border: 1px solid rgba(255, 0, 0, 0.776);
}

.Brand_M .BM-header .btn-action .btn-delete:hover {
  border: 1px solid rgba(255, 0, 0, 0.776);
  background-color: rgba(255, 0, 0, 0.776);
}

.Brand_M .BM-header .btn-action .btn-delete:active {
  color: white;
}

.Brand_M .BM-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: calc(100% - 60px);
}

.Brand_M .BM-main .B-list {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Brand_M .BM-main .B-list .B-list-header {
  width: 100%;
  height: 40px;
  color: #6a6b6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-height: 40px;
}

.Brand_M .BM-main .B-list .B-list-header .B-h-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.Brand_M .BM-main .B-list .B-list-header .B-h-checkbox {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  max-width: 10%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.Brand_M .BM-main .B-list .B-list-header .B-h-name {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.Brand_M .BM-main .B-list .B-list-header .B-h-pAmount {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.Brand_M .BM-main .B-list .B-list-body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.Brand_M .BM-main .B-list .B-list-body::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.Brand_M .BM-main .B-list .B-list-body::-webkit-scrollbar-track {
  background: #36373B;
  border-radius: 15px;
}

.Brand_M .BM-main .B-list .B-list-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

.Brand_M .BM-main .B-list .B-list-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Brand_M .BM-main .B-list .B-list-body .B-list-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  overflow-x: hidden;
}

.Brand_M .BM-main .B-list .B-list-body .B-item {
  height: 40px;
  min-height: 40px;
  background-color: #36373b;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  gap: 10px;
  color: white;
  background-color: #36373b;
}

.Brand_M .BM-main .B-list .B-list-body .B-item .B-checkbox {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Brand_M .BM-main .B-list .B-list-body .B-item .B-name {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.Brand_M .BM-main .B-list .B-list-body .B-item .B-pAmount {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
/*# sourceMappingURL=Brand_M.css.map */